/* IN ORIGINAL STARTER KIT FILE /* 

/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */

/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --sidebar: #666666;
  --background: #333333;
  --green: #ACE075;
  --red: #E07581;
  --yellow: #F5C87F;
  --blue: #7FB6F5;
  --purple: #C3B1E1;
}

body {
  display: flex;
  /* flex: 1; */
  font-family: 'Arial';
  background-color: var(--background);
  color: var(--white);
}

/* HEADERS */

h1 {
  color: var(--green);
  font-size: 5.4rem;
  /* text-align: center; */
  margin: .4rem 0 0 0;
  padding: 0;
}

h2 {
  font-size: 2.5rem;
  margin: 2.1rem 1rem 1.25rem 1rem;
}

.goals-header {
  color: var(--red);
}

.activity-header {
  color: var(--yellow);
}

.hydration-header {
  color: var(--blue);
}

.sleep-header {
  color: var(--purple);
}

h3 {

}

/* SIDEBAR */

.sidebar
 {
  /* display: flex;
  flex-direction: row; */
  min-width: 13.5rem;
  padding: 1rem;
  width: 13.5rem;
  background-color: var(--sidebar);
  height: 248vh;
}

.sidebar-text {
  padding: 0 1rem 1rem 0.35rem;
}

/* WIDGETS */

.widget-section {
  /* display: flex;
  flex-direction: column; */
  /* height: 100vh; */
  /* width: 85%; */
  padding: 0 0 0 2rem;
  /* flex-wrap: wrap; */
  flex: 1;
}

.widget-category {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

.widget-half,
.widget-full {
  background-color: var(--black);
  padding: 0 1rem 1rem 1rem;
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem;
  /* flex-direction: column; */
}

.widget-half {
  width: 32.5rem;
  height: 15rem;
  min-width: 15rem;
}

.widget-full {
  width: 69rem;
  height: 20rem;
  min-width: 30rem;
}
