/* UTILITY */
:root {
  --white: #FFF;
  --black: #000000;
  --sidebar: #666666;
  --background: #222222;
  --green: #ACE075;
  --red: #E07581;
  --yellow: #F5C87F;
  --blue: #7FB6F5;
  --purple: #C3B1E1;
}

body {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  font-family: 'Baloo 2';
  margin: 0;
}

/* HEADERS */
h1 {
  color: rgb(173, 216, 230);
  font-size: 5.4rem;
  margin: .4rem 0 0 0;
  padding: 0;
}

h2 {
  font-size: 3rem;
  margin: 2.1rem 1rem 1.25rem 1rem;
}

h3 {
  font-size: 2rem;
  margin: 1.5rem 0 1.75rem 1rem;
}

.goals-header {
  color: var(--red);
}

.activity-header {
  color: var(--yellow);
}

.hydration-header {
  color: var(--blue);
}

.sleep-header {
  color: var(--purple);
}

/* NAV BAR SECTION */
.nav-bar {
  background-color: var(--background);
  min-width: 13.5rem;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
}

.user-name {
  color: var(--yellow);
  font-size: 2rem;
}

.user-info {
  color: var(--blue);
  font-size: 1rem;
}

.calendar {
  font-size: 22px;
}

.shoe {
  height: 13rem;
}

/* /////// MAIN ///////  */
.widget-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

/* WIDGETS */
.widget-goals,
.widget-sleep,
.widget-hydration,
.widget-activity {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.widget-half,
.widget-full {
  background-color: var(--background);
  border-radius: 1rem;
  height: 22rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0 1rem 3rem 1rem;
  width: 69rem;
}

.widget-half {
  min-width: 15rem;
  width: 32.5rem;
}

.column-activity {
  float: left;
  padding: 0 0 0 1.25rem;
  vertical-align: center;
  width: 28%;
}

.activity-num-1,
.activity-num-2,
.activity-num-3,
.sleep-num-1,
.sleep-num-2 {
  font-size: 3rem;
  font-weight: bold;
  margin: 3rem 1rem 0 0;
  text-align: center;
}

.activity-num-1 {
  color: var(--yellow);
}

.activity-num-2 {
  color: var(--red);
}

.activity-num-3 {
  color: var(--blue);
}

.activity-label {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

/* //// MEDIA QUERY //// */
@media screen and (min-device-width: 200px) and (max-device-width: 480px){
  html {
    display: flex;
  }

  body {
    align-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: 'Arial';
    justify-content: center;
    margin: 0;
  }

  .nav-bar {
    align-items: center;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    width: 100%;
  }

  .widget-goals, .widget-sleep, .widget-hydration, .widget-activity {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
