/* IN ORIGINAL STARTER KIT FILE /*

/* body, html {
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-repeat: no-repeat;
  height: 100%;
} */

/* UTILITY */

:root {
  --white: #FFF;
  --black: #000000;
  --sidebar: #666666;
  --background: #222222;
  --green: #ACE075;
  --red: #E07581;
  --yellow: #F5C87F;
  --blue: #7FB6F5;
  --purple: #C3B1E1;
}

body {
  display: flex;
  font-family: 'Arial';
  background-color: var(--black);
  color: var(--white);
  margin: 0;
}

/* HEADERS */
h1 {
  color: var(--green);
  font-size: 5.4rem;
  margin: .4rem 0 0 0;
  padding: 0;
}

h2 {
  font-size: 3rem;
  margin: 2.1rem 1rem 1.25rem 1rem;
}

h3 {
  font-size: 2rem;
  margin: 1.5rem 0 1.75rem 1rem;
}

.goals-header {
  color: var(--red);
}

.activity-header {
  color: var(--yellow);
}

.hydration-header {
  color: var(--blue);
}

.sleep-header {
  color: var(--purple);
}

/* SIDEBAR */
.nav-bar {
  /* display: flex;
  flex-direction: row; */
  min-width: 13.5rem;
  padding: 2rem;
  width: 22rem;
  background-color: var(--background);
  text-align: center;
}

.nav-bar {
  padding: 0 1rem 1rem 0.35rem;
}


/* /////// MAIN ///////  */
.widget-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* WIDGETS */
.widget-goals,.widget-sleep,.widget-hydration,.widget-activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.widget-half,
.widget-full {
  background-color: var(--background);
  padding: 0 1rem 3rem 1rem;
  border-radius: 1rem;
  margin: 0 1rem 1rem 1rem;
}

.widget-half {
  width: 32.5rem;
  min-width: 15rem;
  height: 18rem;
}

.widget-full {
  width: 69rem;
  min-width: 30rem;
  margin-top: 1rem;
  height: 22rem;
}

//// MEDIA QUERY //// */

@media only screen and  (max-width: 425px, min-width:420px) {
  html {
    display:flex;
  }

  body {
  display: flex;
    font-family: 'Arial';
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .nav-bar {
    padding: 1rem;
    background-color: var(--background);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

  /* .user-creadentials {
   align-self: baseline;
   font-size: x-large;
  } */

  .widget-goals,.widget-sleep,.widget-hydration,.widget-activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }

}


.column-activity {
  float: left;
  width: 28%;
  vertical-align: center;
  padding: 0 0 0 1.25rem;
}

.column-sleep {
  float: left;
  width: 15%;
  vertical-align: center;
  padding: 0 0 0 7rem;
}

.activity-num-1,
.activity-num-2,
.activity-num-3,
.sleep-num-1,
.sleep-num-2 {
  font-size: 3rem;
  margin: 3rem 1rem 0 0;
  font-weight: bold;
  text-align: center;
}

.sleep-num-1,
.sleep-num-2 {
  margin-left: 1.2rem;
}

.activity-num-1,
.sleep-num-1 {
  color: var(--yellow);
}

.activity-num-2,
.sleep-num-2 {
  color: var(--red);
}


.activity-num-3 {
  color: var(--blue);
}


.activity-label {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.user-name {
  font-size: 2rem;
  color: var(--yellow);
}

.user-info {
  font-size: 1rem;
}

.calendar {
  /* background: var(--white); */
  color: var(--white);
  border: var(--black);
  margin: 2rem 0 0 0;
  width: 13rem;
  font-size: 22px;
  font-family: 'Arial';
}

.shoe {
  height: 13rem;
}